.tracker {
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.formCustom {
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}
.flter__list {
    margin-bottom: 10px;
}